:root {
  --textDark: #1a1a1a;
  --accent: #c4005c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-image: url("tiger12823334174_1b3ff71a8f_b.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  

  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

/* CEMENT WALL PANEL */
 .container {
  max-width: 900px;
  width: 100%;
  padding: 3rem 2rem;

  background: rgba(204, 85, 0, 0.35); /* burnt orange + transparency */
  border: 1px solid rgba(255,255,255,0.2);

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  border-radius: 10px;
box-shadow: 0 10px 35px rgba(0,0,0,0.25);
  color: var(--textDark);
}

/* Intro */
.intro {
  text-align: center;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.intro p {
  margin: 0.5rem 0;
}

/* Section Buttons */
.button {
  margin: 1.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  background: #bfbfbf;
  border: 1px solid #999;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
   font-family: 'Lora', serif;
}

.button:hover {
  background: #a8a8a8;
  .button::after {
  content: "+";
  float: right;
}

.button.active::after {
  content: "–";
}
}

/* Collapsible Content */
.content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;

  padding-left: 1rem;

  transition: max-height 0.45s ease, opacity 0.35s ease;
}

.content.active {
  max-height: 500px;
  opacity: 1;
  margin-bottom: 1rem;
}

/* Articles */
h2 {
  font-size: 1.1rem;
  margin: 1rem 0 0.3rem;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.footer {
  margin-top: 3rem;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.7;
}
