:root {
    --primaryText: #000000;
    --secondaryText: #000000;
    --primary: rgba(245, 243, 246, 0.251);
    --secondary: rgba(255, 1, 94, .60); 
    --buttonHover: rgba(156, 39, 176, .40);
    --smallButtonHover: rgba(0, 0, 0, .25);
}

/* Box-sizing for all elements and the root */
*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(/images:IMG_0319.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: body {
    font-family: "Times New Roman", Times, serif;
}
    font-size: 14px;
    color: var(--primaryText);
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centers vertically */
    align-items: center;      /* Centers horizontally */
    min-height: 100vh;
    gap: 0.5em;
}

/* Container for buttons and sections */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centers vertically inside container */
    align-items: center;      /* Centers horizontally inside container */
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

h1, h2 {
    font-size: 1em;
    margin-bottom: 0;
}

img {
    margin: .5em 1em;
    border-radius: 50%;
    height: 150px;
    max-width: 100%;
    object-fit: cover;
}

/* Button Styling */
.button {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: 0.5em auto;
    font-size: clamp(14px, 2.5vw, 24px);
    padding: 0.5em 2em;
    border-radius: 1.25em;
    box-shadow: 0.4em 0.35em 1.75em rgba(0, 0, 0, 0.24);
    text-align: center;
    color: #000000;
    background-color: var(--primary);
    border: 1px solid var(--primaryText);
    cursor: pointer;
    transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
    overflow: hidden;
    white-space: nowrap;
}

.button.highlight {
    background-color: var(--secondary);
}

.button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}

@media (hover: hover) {
    .button:hover { background-color: var(--buttonHover); }
}

/* Responsive adjustments */
@media (min-width: 540px) {
    .container {
        max-width: 540px;
    }
    .button {
        width: 85%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .button {
        width: 40%;
    }
}

/* Additional utilities */
.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 .6em;
}

.description > p {
    margin: .5em 0;
}

.footer {
    font-size: .66em;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(225, 225, 225, .8);
    text-decoration: none;
    width: 100%;
    min-height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer a {
    color: inherit;
}
